<div class="modal fade" id="modal-info" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal-info" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="title-modal-info"></h4>
			</div>
			<div class="modal-body">
				<label id="text-modal-info" class="col-form-label text-muted fs-5"></label>
			</div>
			<div class="modal-footer">
				<button id="btn-close-modal-info" type="button" class="btn btn-success">FECHAR</button>
			</div>
		</div>
	</div>
</div>